:root {
    --cor-sol: #E67A2E;
    --cor-mar: #3EB5B4;
    --cor-fundo: #fffdf7;
    --cor-texto: #333;
}

body {
    font-family: system-ui, sans-serif;
    background: var(--cor-fundo);
    color: var(--cor-texto);
    margin: 0;
    padding: 0;
}

header {
    background: var(--cor-sol);
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: bold;
}

main {
    padding: 15px;
}

.card {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 14px;
    box-shadow: 0 2px 10px #00000022;
}

label {
    margin-top: 10px;
    display: block;
}

input, select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button {
    background: var(--cor-mar);
    color: white;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
}

#camera {
    width: 100%;
    border-radius: 10px;
    background: black;
}
